* {
    margin: 0;
}

@font-face {
    font-family: 'armin';
    src: url('./assets/armin.ttf') 
}

body, html {
    font-family: 'armin', sans-serif;
    color: rgb(45, 73, 82);
    position: relative;
}

nav {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 98vw;
    font-size: 1.8rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.4rem 1rem;
    background-color: rgba(255, 255, 255, 0.742);
}

nav div {
    display: flex;
    align-items: center;
    gap:1.6rem;
}

a {
    font-size: 1.4rem;
    text-decoration: none;
    color: rgb(45, 73, 82);
}

.logo {
    width: 3rem;
}

.landing {
    background-image: url('./assets/beach.jpeg');
    height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


main {
    padding-top: 16vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-info {
    position: absolute;
    top: 46vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    color: rgb(255, 255, 255);
}

h1 {
    font-size: 10rem;
    /* transform: translate(-150%) scale(0) rotate(0);
    animation: slidein 4s ease-in-out infinite 2s; */
}

.description {
    margin-top: -2rem;
    font-size: 2.6rem;
 
}

button {
    padding: 1rem 1.6rem;
    font-size: 1.4rem;
    border: none;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 0.488);
    color: rgb(45, 73, 82);
    width: 10rem;
    transition: all 0.3s ease-in-out;
}

button:hover {
    cursor: pointer;
    width: 30rem;
    letter-spacing: 1rem;
}


.container {
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem
}

.card {
    width: 40rem;
    height: 26rem;
    position: relative;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-info {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    padding: 2rem;
    height: 26rem;
    position: absolute;
    top: 0;
    opacity: 0;
    background-color: rgba(255, 255, 255, 0.118);
    backdrop-filter: blur(5px);
    transition: opacity 0.2s ease-in-out;
  
}

.card-info:hover {
    opacity: 1; 
}

h3 {
    font-size: 2rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 98vw;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 1rem;
    height: 4rem;
}

footer a {
    font-size: 1rem;
}

/* 
@keyframes slidein {
    0% {
        transform: translate(-150%) scale(0) rotate(0)
    }
    25% {
        transform: translate(0) scale(1.5)
    }
    50% {
        transform: translate(-100%) scale(1.2) rotate(90deg)
        }
    100% {
        transform: translate(50%) scale(0)
        }

} */


@media screen and (max-width: 1200px) {
    h1 {
        font-size: 8rem;
    }
}

@media screen and (max-width: 992px) {
    h1 {
        font-size: 6rem;
    }
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 600px) {
    h1 {
        font-size: 3rem;
    }

        nav {
           flex-direction: column;
        }
    
        .logo-name {
            display: none;
        }
    
        a {
            font-size: 1rem;
        }
}





